@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flamenco&display=swap");
@import "tailwindcss";

html {
  font-size: 16px;
}

/* * { */
/*   @apply p-0 m-0 box-border relative; */
/* } */

/* body { */
/*   @apply overflow-x-hidden; */
/* } */

/* ::selection { */
/*   @apply bg-[#ff0000] text-white; */
/* } */

/* ::-webkit-scrollbar { */
/*   @apply w-2; */
/* } */

/* ::-webkit-scrollbar-track { */
/*   @apply bg-stone-950; */
/* } */

/* ::-webkit-scrollbar-thumb { */
/*   @apply bg-stone-800 hover:bg-stone-700; */
/* } */

/* .resume-card { */
/*   @apply w-[85%] md:w-[65%] xl:w-[50%]; */
/* } */

@media print {
  .resume-card {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 999;
  }

  .resume-card>* {
    color: black;
  }
}
