@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flamenco&display=swap");
@import "tailwindcss";

html {
  font-size: 16px;
}

.resume-card {
  width: 55%;
}

@media (max-width: 1024px) {
  .resume-card {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .resume-card {
    width: 80%;
  }
}

@media print {

  .MuiContainer-root,
  .resume-card,
  .MuiBox-root {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }

  section,
  .MuiPaper-root {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  body {
    background-color: white !important;
    margin: 0;
  }

  .MuiDivider-root {
    border-bottom-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.12) !important;
  }

  .resume-card {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 999;
  }

  .resume-card>* {
    color: black;
  }
}
